# === Airflow Providers ===
apache-airflow-providers-apache-spark==4.11.3
apache-airflow-providers-openlineage>=1.8.0

# === Spark ===
pyspark==3.5.5

# === Data Libraries (solo las que uses en otros DAGs) ===
numpy
pandas
pyarrow
sodapy
# Nota: dlt, s3fs, fsspec, etc., ya no son necesarios aquí.

# === Other Dependencies ===
urllib3
requests